/* resets */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background:repeating-conic-gradient(rgb(202, 202, 202) 0 5%, #6570 25%) top left/1rem 1rem;
  font-size: .75rem;
}
/* heading styles */
hgroup{
  margin-top: 2rem;
}
hgroup *{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125rem;
  text-align: center;
  padding: .25rem .5rem;
}
/* table styles */
main > *,table{
  min-width: 475px;
  max-width: 755px;
  margin-inline: auto;
  width: 85vw;
  margin-block: 1rem 2rem;
}
table{
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid black;
}
td,th{
  word-break: break-all;
  background-color: white;
  border: solid .5px;
  padding: .5rem .25rem;
}
td{
  word-break: normal;
}
tbody td:not(:empty), tbody th{
  border:red .5q dotted;
}
table:first-of-type *{
  text-transform: uppercase;
}
table:first-of-type col.col1{
  min-width: 150px;
}
table:last-of-type col.col1{
  min-width: 200px;
}
.lecturers tr:has(.black) td,[lunch]:has(.black) td{
  color: white;
  background-color: red;
  border-color: white;
  font-weight: bold;
}
thead,th{
  border: 2px solid;
}
tr[lunch] td{
  vertical-align: bottom;
  text-align: center;
  letter-spacing: 5rem;
  font: 900 1.5rem sans-serif;
  border: none;
}
tr[lunch] td:first-of-type{
  text-align: center;
}
td:empty{
  border: none;
  transition: background .2s linear;
  background-image: repeating-radial-gradient(white,green 1%);
  background-size: .5rem .5rem;
}
tr td.black,
.black{
  color:white;
  font-weight: bold;
  background-color: red;
}

/* visually hidden and deleted elements */
.visuallyHidden{
  scale: 0 0;
  height: 0;
  display: block;
}
.del,del,table tr.del td{
  text-decoration: line-through;
  background-color: yellow;
  color: red;
}
/* navigation tabs */
nav{
  background-color: green;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  gap: 1rem;
  padding: .5rem;
  font-size: 1rem;
}
nav button{
  border: none;
  font-family: serif;
  text-transform: uppercase;
  transition: .2s;
}
.tab{
  display: none;
}
.active{
  background-color: red;
  color: white;
  border-radius: .25rem;
  outline: 2px solid;
}
section.tab.current{
  display: block;
}
/* form children styles */
fieldset{
  max-width: 100%;
  padding: 0.5rem 2rem;
  border: gray solid;
  border-radius: 1rem
}
legend{
  font-size: 1rem;
  font-weight: bold;
  padding:0.25rem .5rem ;
  border: solid grey;
  border-radius: .5rem;
}
button,input[type='submit']{
  cursor: pointer;
  font: inherit;
  text-align: center;
  padding: .5rem 1rem;
}
textarea{
  resize: vertical;
}
input,textarea{
  outline-color: green;
  border-radius: .25rem;
  border: solid grey 2px;
  font: inherit;
  width: 100%;
  min-width: 100px;
  padding: .25rem .5rem;
  transition: .2s;
}
input[type='submit']:active{
  translate: 1px 1px;
}
form ul{
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
form li{
  display: grid;
}
/* tasks list styles */
li[al]{
  grid-column: 1/-1;
}
.dis li{
  display: grid;
  gap: .5rem;
  border-block-end: dotted 1px;
  grid-template-columns: repeat(3,.35fr) 1fr 1rem;
  padding:.5rem;
}
.dis li:first-child{
  font-weight: bold;
  font-size: 1rem;
}
.dis li:not(:first-child) *:nth-last-child(2){
  word-break: break-all;
}
[del]{
  background-color: rgb(199, 0, 0);
  aspect-ratio: 1/1;
  place-content: center;
  align-self: self-start;
  width: 1.5rem;
  font-size: .85rem;
  color: white;
  cursor: pointer;
  display: grid;
  box-shadow: 1px 1px .5rem black;
  border-radius: 5rem;
}
[del]:active{
  box-shadow: none;
}
/* grade level table styling */
.excellent{
  background-color: purple;
}
.good{
  background-color: blue;
}
.tried{
  background-color: green;
}
.bad{
  background-color: red;
}