*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --ayobaBlue: #1161A2;
  --ayobarange: #FBB833;
  --white: #fff;
  display: flex;
  align-items: center ;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--ayobaBlue);
}

section {
  width: 45vh;
  aspect-ratio: 1;
  position: relative;
}
.app{
  position: absolute;
  inset: 5% ;
  border-radius: 15%;
  border: solid;
  background-color: var(--white);
}
.app p{
  position: absolute;
  inset: 10%;
  border-radius: 50%;
  background: radial-gradient(var(--ayobarange) 20%,var(--white) 20% 40%,var(--ayobaBlue) 40%);
}
.app p::after{
  content: '';
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  border-radius: 500% 500%/150% 150%;
  background-color: var(--ayobaBlue);
}
