* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #211;
  font-family: sans-serif;
  line-height: 1.45;
}
header {
  background-color: orange;
  padding: 0.5rem 2rem;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}
main {
  max-width: 600px;
  margin-inline: auto;
}
main>section{
  padding-inline: 1rem;
}
main h2 {
  color: white;
  font-size: 2.23rem;
  margin-top: 2rem;
}
.item {
  transition: 0.5s;
  background-color: skyblue;
  border-radius: 0.5rem 0/.5rem;
  margin-top: .125rem;
}
.item input[type="radio"] {
  scale: 0;
  position: absolute;
}
.item label[for*="item"],
.title,details summary {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  position: relative;
  font-size: 1.5rem;
  width: 100%;
  padding: .5rem 1rem;
}
details p{
  padding: 0.5rem 1rem;
  transition: all .4s;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  transition: 0.15s;
  height: 0px;
  scale:1 0 ;
  transform-origin: top;
}
input[type="radio"]:checked ~ p.content,
.content.close {
  scale: 1 1;
  padding: 0 1rem 1rem;
  height: fit-content;
}
.item label span.arrow{
  color: white;
  border-radius: 55%;
  display: inline-grid;
  aspect-ratio: 1;
  height: 1.5rem;
  place-content: center;
  border: 1px solid;
}
.title > * {
  transition: 0.5s;
  color: white;
  border: 1px solid;
  cursor: pointer;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border-radius: 2rem;
}
.red {
  color: red;
  rotate: 45deg;
}
.bg{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: .25rem;
  height: 22rem;
  perspective: 355px;
  padding: 1rem 0;
  transform-style: preserve-3d;
}
.bg > *{
  backface-visibility: hidden;
  background-color: teal;
  cursor: pointer;
  color: #c7e0;
  user-select: none;
  text-align: center;
  overflow: hidden;
  transition:  1s;
  width: 2rem;
  display: grid;
  place-content: center;
  background: linear-gradient(#2115 0 0),repeating-conic-gradient(royalblue, #2321, skyblue 15%) center/2rem 2rem ;
  font-size: 1.5rem;
  font-family: sans-serif;
  border-radius: 1.5rem 0/1.5rem;
  border: 1svh solid currentColor;
  transform:  scale(1, .985);
  transform-origin:100% top;
}
.grow{
  color: white;
  text-shadow: .05em .05em 1em orange;
  transform: none;
  padding: 1rem;
  flex-grow: 1;
  cursor: auto;
  user-select: contain;
}
progress{
  height: 2rem;
  position: fixed;
  outline: none;
  right: -2.5rem;
  top: 3.5rem;
  width: 8rem;
  rotate: -.25turn;
  accent-color: orange;
}