*{
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
main{
  display: grid;
  padding: 1rem 4rem;
  gap: 2rem;
  background-color: maroon;
  height: clamp(25rem, 85vh, 100vh);
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin: auto;
  font-family: monospace;
  transform: skew(11deg, -15deg);
  width: clamp(320px, 55vw, 700px);
  mix-blend-mode: luminosity;
  text-align: center;
  box-shadow: 1rem 1rem 3rem,
              2rem 2rem 5rem yellow;
}
body{
  background-color: green;
}
header{
  text-align: center;
  background-color: rgba(128, 0, 0,0);
  padding: .25rem 2rem;
  transform: skew(15deg,15deg) rotate(15deg) translateY(15rem) translateZ(1em);
  color: transparent;
  color: rgba(128, 0, 0, 1);
  font-family: sans-serif;
  font-size: 2.5rem;
  max-width: fit-content;
  -webkit-text-stroke:  .1rem white ;
  margin: auto;
}