*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    gap: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fill,minmax(320px, 1fr));
    font: 100%/1.5 sans-serif;
    background-color: cyan;
}
.container{
    padding: 20px;
    background-color: navy;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 1px 5px inset,2px 2px 5px;
    border: 2px w hite solid;
    min-width: 320px;
    max-height: 525px;
    height: 75vh;
}
.container h2{
    font-size: 2.125rem;
    color: white;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}
button{
    flex-grow: 1;
    padding: 5px 10px;
    border: none;
    width: 55px;
    font-size: 1.1rem;
    transition: .4s;
    box-shadow: 1px 1px 5px;
    position: relative;
}

button:hover {
    opacity: .8;
}
button:active{
    translate: 1px 1px;
}
.buttons button.active:after {
    content: attr(id);
    width: 100%;
    position: absolute;
    top: -20px;
    color: white;
    height: 12px;
    border-radius: 5px;
    left: 0;
    border-bottom: 2px solid white;
    font-size: 50%;
    outline: none;
}
.game button{
    flex-grow: 0;
    width: 100%;
    text-transform: uppercase;
}
.active{
    background-color: #ccc;
    outline: 1px solid orange;
}
#text{
    min-height: 100px;
    resize: none;
    font-size: 1.2rem;
    padding: 10px;
    font-family: serif;
    border: none;
    width: 95%;
    box-shadow: 1px 1px 5px;
}
#text:focus{
    outline: orange 2px solid;
}
output{
    width: 95%;
    min-height: 100px;
    border: inset ;
    margin-left: 5%;
    background-color: wheat;
    font-size: 15px;
    padding: 5px 10px;
    text-align: justify;
    box-shadow: 1px 1px 5px;
}
#bold{
    font-weight: 900;
}
#italic{
    font-style: italic;
}
#underline{
    text-decoration: underline;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.game{
    align-self: stretch;
    justify-content: space-between;
}
#writingArea,.main{
    background-color: white;
    border: 2px solid;
    padding: 1rem;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    user-select: none;
}

#writingArea{
    text-align: left;
    flex-grow: 1;
    font-size:1.5rem
}