* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header{
  background-color: skyblue;
  color: antiquewhite;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
section {
  background-color: antiquewhite;
  padding: 1rem 2rem;
  display: grid;
  gap: 1rem;
  max-width: 25rem;
  border-radius: 1rem;
  margin: .2rem auto;
}
ul,li {
  list-style: none;
  box-shadow: 0 0 0.25rem 0.1rem;
  display: grid;
}
section:has([Error]){
  outline: .1rem solid red;
}
li{
  box-shadow: none;
  gap: 0;
  padding: .5rem;
}
h2{
  text-align: center;
  font-size: 1.5rem;
}
button,input,output{
  border: .1rem solid;
  padding: .5rem 1rem;
  text-transform: uppercase;
  overflow-x: auto;
}
label{
  width: fit-content;
}
[Error]{
  background-color: skyblue;
  color: red;
  font-family: monospace;
}
sub{
  line-height: .51;
}