*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: indianred;
    transition: .5s;
}
section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    max-width: calc(800px + 4rem);
    width: clamp(320px, 85vw, 700px);
}
section div{
    width: 100px;
    aspect-ratio: 1;
    border-radius: 10px;
    border: solid 2px lightgrey;
    margin: 1rem;
    flex-grow: 1;
}
::-webkit-scrollbar{
    background-color: transparent;
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: teal;
    border-radius: 366px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 56ex;
    box-shadow: inset 2px 2px 5px 2px black;
}
blockquote{
    mix-blend-mode: difference;
    color: wheat;
    border: 2px solid;
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    font-family:"french script mt", cursive;
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
    width: clamp(320px, 85vw, 700px);
}
blockquote > small {
    font-family: monospace;
    display: inline-block;
    width: 100%;
    text-align: right;
}