* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(143, 143, 141);
}
header {
  background-color: skyblue;
  font-size: 1.725rem;
  text-align: center;
  padding: 0.5rem 1rem;
}
header h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  -webkit-text-stroke: 0.1rem white;
  color: transparent;
}
#calender {
  margin: auto;
  display: grid;
  width: clamp(355px, 85vw, 825px);
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
#calender section {
  max-width: fit-content;
  break-inside: avoid;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(2rem, 4rem));
  border: 0.2rem solid oldlace;
  border-radius: 0.5rem;
}
section[month] span:empty {
  background-color: #0000;
}
[month] > span:nth-child(7n + 8),
[month] > span:nth-child(7n + 7) {
  color: orange;
  background-color: white;
}
section > span {
  margin: 0.5px;
  background-color: orange;
  text-align: center;
  display: grid;
  padding: 0.5rem 1rem;
  place-content: center;
  border-radius: 0.25rem;
  outline-offset: -0.2rem;
  font-size: 1.5rem;
}
.heading {
  background-color: skyblue !important;
  color: brown !important;
  font-family: monospace;
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 9;
  grid-column-end: 8;
  font-size: 1.5rem;
  word-break: break-all;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.75ch;
  padding: 0% 0.75rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
[month]:nth-child(even) .heading {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}
[month] span.weekTitle {
  border-radius: 0%;
  background-color: skyblue;
  font-size: 1rem;
  color: brown;
  text-transform: uppercase;
}
[month] span.thisDay {
  font-family: consolas, "Courier New", Courier, monospace;
  outline: auto;
}
[data-event] {
  --boxShadow: 0.1rem 0.1rem 1rem .4rem var(--color) inset;
  box-shadow: var(--boxShadow);
  --color: teal;
}
[data-event="birthday"] {
  --color: purple;
}
[data-event="myEvent"] {
  --color: green;
}
[data-event="countryEvent"] {
  --color: black;
}
[data-event="familyEvent"] {
  --color: brown;
}
[data-event="courseEvent"] {
  --color: navy;
}
