:root{
  --mainBg: tan;
}
body{
  min-height: 100vh;
  display: grid;
  place-content: center;
}
*{
  margin: 0;
  padding: 0;
  background-color: var(--mainBg);
  box-sizing: border-box;
}
[one]{
  width: 95%;
  height: 2.5rem;
  display: grid;
  grid-template-columns: [cone] 18% [cone line] 1fr [line];
  grid-template-rows: repeat(3, 1fr);
  gap: 8% 0rem;
  rotate: -35deg;
  position: absolute;
  inset: 71.25% 50%;
  translate: -35% -50%;
  transform-origin: 0 bottom;
}
[c]{
  grid-row: 1 /-1;
  background-color: black;
  background: 
  radial-gradient(
      ellipse 50% 110% at 100%, 
      antiquewhite 49.5%, 
      #0000 50.5%) right / cover repeat-y ,
  radial-gradient(
      circle at 0 50%,
      blue 24.5%,
      #5630 25.5% 34.5%,
      yellow 35.5%);
  clip-path: polygon(0 50%, 100% 0, 100% 100%,0 50%);
  background-size: 32% calc(100%/3), auto;
}
[l1]{
  background-color: black;
}
[l2]{
  background-color: red;
}
[l3]{
  background-color: green;
}
[l]{
  border-radius: 2rem;
}
section{
  margin: auto;
  aspect-ratio: .8;
  grid-template-rows: auto 2rem;
  background:
  linear-gradient(90deg,
    #fff0 4.5rem, red 4.5rem 4.6rem,#ff00 4.6rem
  ),
  repeating-linear-gradient(
      antiquewhite 0 2.45rem,
      skyblue 2.45rem 2.5rem) repeat-y top;
  position: relative;
  line-height: 2.5rem;
  width: 100%;
  max-width: 750px;
  min-width: 450px;
  padding: 0 1.5rem 0 5rem;
  box-shadow: 2px 2px 8px 2px;
  /* here is a comment. */
}
section *{
  background-color: #0000;
}
section h1{
  font-size: 3rem;
  text-transform: capitalize;
  color: green;
  padding-top: 2.5rem;
  text-align: center;
  font-family: vivaldi,cursive;
}
section p[wish]{
  font-family: 'brush script mt';
  font-size: 2.5rem;
  position: absolute;
  top: 65%;
  rotate: -15deg;
  padding-inline: 1rem;
  color: blue;
}
.names{
  font-family: georgia, 'times new roman';
  font-size: 1rem;
  padding-top: .15rem;
  font-style: italic;
}
.author{
  width: fit-content;
  margin-left: auto;
  font-size: 2rem;
  font-family:'tahoma', monospace;
}