/* resets */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,button,select,textarea{
  min-width: 0;
  font: inherit;
}
body{
  background-color: skyblue;
}
/* header starts here */
header{
  background-color: green;
  padding: .5rem;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
}
/* header ends here */
#imageEditor{
  max-width: 1100px;
  background-color: skyblue;
  margin-inline: auto;
  font-family: sans-serif;
  padding: .5rem;
}

/* Image and its container and text */
figure{
  margin-inline: auto;
  margin-bottom: .25rem;
  max-width: 670px;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}
figure img{
  width: 100%;
  background-color: #2115;
  aspect-ratio: 1/1;
  position: absolute;
  object-fit: cover;
}
figure figcaption{
  position: absolute;
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
  word-break: break-word;
  transition: .1s ease;
}
/* tabs */
.tabs ul{
  scroll-padding: 50% ;
  scroll-snap-type: x mandatory;
  list-style: none;
  display: flex;
  height: 2rem;
  width: 100%;
  background-color: green;
  gap: .15rem;
  align-items: stretch;
  overflow:scroll hidden ;
  justify-content: stretch;
  user-select: none;
  transition: linear .5s;
}
.tabs>ul>li{
  /* width: clamp(100px 120px 550px); */
  min-width: 80px;
  transition: linear .5s;
  flex-grow: 1;
  font-size: .75rem;
  background-color: white;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.tabs ul li.active{
  scroll-snap-align: center;
  border-bottom: 2px solid green;
}
.tabs ul::-webkit-scrollbar{
  height: 0;
}
/* ? edit tools containers */
[editTools]{
  padding-top: .25rem;
}
[editTools]>[id]{display: none; transition: .3s linear;}

[editTools]>.currentTab{
  display: block;
}
/* 
 tab actions container
 - text tab edit
 */
#text.currentTab .inputs{
  grid-template-columns: 1fr;
  display: grid;
}
#text .inputs label{
  font-size: 1rem;
}
#text .inputs input{
  padding: .5rem ;
  border: green solid;
  border-radius: .25rem;
  outline: none;
}
input[type='color']{
  width: 100%;
  display: block;
  border: none;
  background: none;
}
.inputs textarea{
  padding: .5rem ;
  border: green solid;
  border-radius: .25rem;
  font-family: sans-serif;
  resize: vertical;
  min-height: 5rem;
  outline: none;
}
#text label{
  margin-bottom: -2%;
}
input[value=Apply]{
  border: none;
  outline: none;
  border-radius: 0%;
  background-color: green;
  color: white;
}
[value=Apply]:active{
  translate: 1px 1px;
}
/* buttons styles */
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  margin-bottom: 1rem;
}
.buttons button{
  width: 3rem;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  background-color: #ddd;
  padding: .5rem;
  font-weight: 900;
}
/* Inputs-ranges styles */
.inputs{
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: .5rem;
  margin-top: .5rem;
}
/* edit tools - img selector container */
#imgBg.currentTab{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: .2rem;
}
#imgBg input{
  scale: 0;
  visibility: hidden;
  position: absolute;
}
#imgBg label s{
  position: absolute;
  inset: 10%;
  background-color: black;
  overflow: hidden;
}
#imgBg label s::before,
#imgBg label s::after{
  content: '';
  position: absolute;
  top: 60%;
  left: -10%;
  width: 50%;
  aspect-ratio: 1/1;
  background-color: white;
  rotate: 45deg;
}
#imgBg label s::before{
  top: 45%;
  right: -10%;
  width: 80%;
  left: auto;
}

#imgBg>*{
  position: relative;
  aspect-ratio: 1;
  cursor: pointer;
  background-color: green;
}
#imgBg img{
  width: 100%;
  object-fit: cover;
}
/* js class */
.given{
  color: green;
  box-shadow: 2px 2px;
}

@media (min-width: 675px) or (orientation:landscape) {
  #imageEditor{
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: minmax(auto, 500px) minmax(150px, .95fr);
    justify-content: space-between;
    grid-auto-flow: dense;
  }
  figure{
    margin: initial;
    max-height: 500px;
    height: auto;
    aspect-ratio: 1/1;
    grid-column: 1/2;    grid-row:2/3;
    margin: 0%;
  }
  [editTools]{
    padding: 0;
    margin: 1px;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .tabs{
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  #imgBg.currentTab{
    display: grid;
    grid-template-rows:  auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr))
  }
}