*{
  margin: 0;
  padding: 0;
}
header{
  background-color: green;
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
}