*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: aliceblue;
  cursor: crosshair;
  font-size: 100%;
  font-family: sans-serif;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}
.cursor {
  top: 0%;
  width: 2em;
  height: 2em;
  background-color: transparent;
  position: absolute;
  rotate: -135deg;
  clip-path: polygon( 25% 0, 100% 50%,25% 100%,0 75%,10% 50%,0 25%);
  box-shadow: inset 0 0 5px 10px blue;
  border-radius: 56px;
}
.cursor:active{
  scale: .9;
}
.output{
  width: 450px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 5px;
  line-height: 2;
  background-color: cyan;
  border: 1px saddlebrown solid;
  color: saddlebrown;
}
.output >*{
  border: 1px solid;
  padding-inline: 10px;
}
.output output{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
