:root {
  --teal: teal;
  --white: white;
  --indigo: indigo;
  font-size: 4vmin;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
}
body {
  line-height: 1.5;
  background: var(--teal);
}
.container {
  max-width: 700px;
  min-width: 250px;
  margin-inline: auto;
  padding: 0 30px;
  text-align: center;
}
.container h2 {
  font-size: 2.25rem;
  color: var(--indigo);
  text-transform: uppercase;
  border-bottom: 2px solid;
  margin-block: 1rem;
}
.container .display {
  font-family: tektur, "fira code", monospace;
  font-size: 3.5em;
  line-height: 1;
  color: var(--white);
  background-color: black;
  color: navy;
  position: relative;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  margin-inline: auto;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
.btn {
  border: none;
  padding: 5px 20px;
  font-family: tektur, sans-serif;
  cursor: pointer;
  transition: 0.4s;
  font-weight: bold;
  color: var(--indigo);
  position: fixed;
  inset: 0.3rem 0.3rem auto auto;
  border-radius: 2rem;
}
.btn:hover {
  outline: var(--indigo) solid;
}
.btn:active {
  translate: 2px 2px;
  font-weight: bolder;
}
[t] {
  font-size: 0.7rem;
  background-color: var(--white);
  color: var(--teal);
  padding: 5px 10px;
  padding-bottom: 0;
  font-family: tektur, sans-serif;
  position: absolute;
  inset: auto 42% 0.25rem 42%;
}
[dot] {
  animation: blink 1s infinite steps(1);
}
@keyframes blink {
  50% {
    color: transparent;
  }
}

.analogue {
  max-height: 320px;
  aspect-ratio: 1;
  border: px solid skyblue;
  margin-inline: auto;
  border-radius: 55%;
  position: relative;
  background-image: radial-gradient(
      circle closest-side,
      white 0 5%,
      teal 18% 80%,
      #2340 95%
    ),
    repeating-conic-gradient(
      from 0.25deg,
      #2110 0 0.5deg,
      #2110 0.5deg 29.5deg,
      lime 29.5deg 30deg
    ),
    radial-gradient(circle closest-side, black 86%, #2340 93%),
    repeating-conic-gradient(
      from.25deg,
      #1210 0 0.6deg,
      #2110 0.5deg 5.5deg,
      blue 5.5deg 6deg
    );
}
.analogue::before {
  content: "";
  position: absolute;
  inset: 47.5%;
  z-index: 1;
  border-radius: 1rem;
  background-color: #121;
}
.analogue div {
  height: 45%;
  width: 2px;
  background-color: lime;
  border: none;
  position: absolute;
  inset-inline: 50%;
  translate: -50%;
  bottom: 50%;
  transform-origin: bottom;
  border-radius: 1rem;
}
.analogue [hr] {
  background-color: black;
  width: 8px;
  height: 30%;
}
.analogue [min] {
  width: 5px;
  height: 37%;
}
.analogue span{
  position: absolute;
  inset: 0 45% 50%;
  color: white;
  font-size: 1.2rem;
  rotate: calc(var(--r) * 1deg);
  transform-origin: 50% 100%;
  padding-top: .5rem;
  text-align: center;
}