:root {
  --teal: teal;
  --white: white;
  --indigo: indigo;
  --smallFont: .75rem;
  --largeFont: 2.25rem;
  --monospace: tektur, "fira code", monospace;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
}
body {
  line-height: 1.5;
  background: var(--teal);
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px,1fr));
  gap: 2rem;
  align-content: stretch;
  align-items: stretch;
  margin-inline: auto;
  padding: 1rem;
  text-align: center;
}
.container h2 {
  font-size: var(--largeFont);
  color: var(--indigo);
  text-transform: uppercase;
  border-bottom: 2px solid;
  margin-block: 1rem;
  align-self: start;
}
.container > section{
  background-color: black;
  min-height: 25rem;
  border-radius: .5rem;
  display: grid;
  color: var(--white);
}
.container .display {
  font-family: var(--monospace);
  font-size: var(--largeFont);
  line-height: 2;
  padding: 1rem;
  letter-spacing: 2px;
  position: relative;
}
form{
  display: grid;
  grid-template-rows:4rem repeat(2,2rem);
  margin: auto;
  max-width: 95%;
  gap: .5rem;
  justify-content: stretch;
  align-items: last center;
}
form > *{
  border-radius: 1rem;
  border: none;
  max-width: 100%;
}
form * {
  font:  1rem/1.5 var(--monospace);
}
form > div {
 display: grid;
 text-align: left;
 gap: .25rem;
}
form div input{
  display: inline-block;
  flex-grow: 1;
  min-width: 0%;
  border-radius: 1rem;
  padding: .25rem 1rem;
}
output{
  background-color: teal;
  border-radius: 0%;
  border: #fff solid ;
  display: block;
  font-size: .75rem;
  margin-top: 1rem;
}
.btn {
  border: none;
  padding: 5px .5rem;
  font-family: var(--monospace);
  cursor: pointer;
  transition: 0.4s;
  font-weight: bold;
  color: var(--indigo);
  border-radius: 2rem;
  margin-inline: .25rem;
}
[type="button"].btn{
  position: fixed;
  inset: 0.3rem 0.3rem auto auto;
  z-index: 2;
}
:disabled{
  cursor: not-allowed;
}
.btn:hover:not(:disabled) {
  color: var(--white);
  outline: var(--white) solid 2px;
  background-color: var(--indigo);
}
.btn:active {
  translate: 2px 2px;
  font-weight: bolder;
}
[t] {
  font-size: var(--smallFont);
  background-color: var(--white);
  color: var(--teal);
  padding: 5px 10px;
  padding-bottom: 0;
  font-family: var(--monospace);
  position: absolute;
  inset: 0rem 4% auto 82%;
}
[dot] {
  animation: blink 1s infinite steps(1);
}
@keyframes blink {
  50% {
    color: transparent;
  }
}
.analogue {
  max-height: 320px;
  aspect-ratio: 1;
  border: px solid skyblue;
  margin-inline: auto;
  border-radius: 55%;
  position: relative;
  background-image: radial-gradient(
      circle closest-side,
      white 0 5%,
      teal 18% 80%,
      #2340 95%
    ),
    repeating-conic-gradient(
      from 0.25deg,
      #2110 0 0.5deg,
      #2110 0.5deg 29.5deg,
      lime 29.5deg 30deg
    ),
    radial-gradient(circle closest-side, black 86%, #2340 93%),
    repeating-conic-gradient(
      from.25deg,
      #1210 0 0.6deg,
      #2110 0.5deg 5.5deg,
      blue 5.5deg 6deg
    );
}
.analogue::before {
  content: "";
  position: absolute;
  inset: 47.5%;
  z-index: 1;
  border-radius: 1rem;
  background-color: #121;
}
.analogue div {
  height: 40%;
  width: 2px;
  background-color: lime;
  border: none;
  position: absolute;
  inset-inline: 50%;
  translate: -50%;
  bottom: 50%;
  transform-origin: bottom;
  border-radius: 1rem;
}
.analogue [hr] {
  background-color: black;
  width: 8px;
  height: 20%;
}
.analogue [min] {
  width: 5px;
  height: 30%;
}
.analogue span{
  position: absolute;
  inset: 0 45% 50%;
  color: white;
  font-size: 1rem;
  rotate: calc(var(--r) * 1deg);
  transform-origin: 50% 100%;
  padding-top: .5rem;
  text-align: center;
}
.buttons{
  background-color: teal;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  max-width: 100%;
  width: fit-content;
  margin-inline: auto;
  margin-top: auto;
}
[timer]{
  font-family: var(--monospace);
}