/* div{
  display: inline-block;
  outline: .1rem solid;
  aspect-ratio: 1;
  width: 8rem;
  margin: 1rem;
}
div:nth-child(1){
  background-color: oklch(1 45 172);
}
div:nth-child(3){
  background:linear-gradient(#7654CD,
  rgb(46.27% 32.94% 80.39%),
  lab(44.36% 36.05 -58.99),
  color(xyz-d50 0.2005 0.14089 0.4472),
  color(xyz-d65 0.21661 0.14602 0.59452));
}
div:nth-child(2){
  background:color(xyz-d50 .2 .14 .34);
} */