*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body style */
body{
  min-height: 100vh;
  background-color: skyblue;
  display: grid;
  place-content: center;
}
main{
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
  padding: 2rem ;
  display: grid;
  place-content: center;
}
figure{
  width: 85vw;
  gap: .5rem ;
  font: 1.2rem helvetica;
  display: grid;
  height: 85vh;
  border-radius: .5rem;
  justify-content: stretch;
  grid-template-rows: 1fr max-content;
  overflow: hidden;
}
audio{
  grid-row: -2/-1;
  align-self: center;
  background-color: white;
  min-width: 0;
  width: 100%;
}
figcaption{
  border-radius: .5rem;
  display: grid;
  color: orange;
  filter: blur(.1mm) brightness(1.2);
  text-shadow: .1rem .1rem white;
  place-content: center;
  padding: 1rem;
  text-align: center;
  font: bold 8vmax/.95 sans-serif;
  user-select: none;
  transition: .5s;
  background:linear-gradient(blue,orange)
}