*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body{
  background-color: skyblue;
  font-family:sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.generatePassword,
.showHidePassword{
  display: grid;
  gap: 2rem;
  width: 65vh;
  min-width: 320px;
  background-color: teal;
  padding: 1rem;
}

.output,input#showOrHide{
  width: 100%;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: antiquewhite;
  border: 2px inset aliceblue;
  color: black;
  font-family: monospace;
  padding: 10px;
  transition: .2s;
}
.buttons{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
main h2{
  font-size: 2.125rem;
  text-align: center;
  font-family: sans-serif;
  color: white;
}
.buttons *{
  text-align: center;
  border: none;
  height: 2rem;
  width: 20%;
  flex-grow: 1;
  padding: 5px 10px;
  text-overflow: ellipsis;
  font-size: .75rem;
  transition: .2s;
}
.buttons button:active{
  translate: 1px 1px;
}
label{
  scale: 0;
  height: 0;
  width: 0;
  position: absolute;
}
.error{
  color: red;
  border-color: #911;
  outline-color: #911;
}