*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body{
  background-color: skyblue;
  font-family:sans-serif;
  font-size: 120%;
}
main{
  background-color: teal;
  padding: 25px;
  color: white;
  width: 65vmin;
  min-width: 320px;
  position: absolute;
  inset: 0;
  margin: auto;
  height: fit-content;
  display: grid;
  align-items: center;
  gap: 1rem;
}
main .output{
  width: 100%;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.2rem;

  background-color: antiquewhite;
  border: 2px inset aliceblue;
  color: black;
  font-family: monospace;
  padding: 10px;
}
main .buttons{
  display: flex;
  justify-content: space-between;
}
main h2{
  font-size: 2.5rem;
  text-align: center;
  font-family: sans-serif;
}
main .buttons *{
  text-align: center;
  width: 30%;
  border: none;
  height: 2rem;
  padding: 5px 10px;
  text-overflow: ellipsis;
}
main .buttons button:active{
  translate: 1px 1px;
}