* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body {
  background-color: skyblue;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 150px));
  gap: 1.5rem;
}
section,
.generatePassword,
.showHidePassword {
  display: grid;
  gap: 2rem;
  background-color: teal;
  border: 0.1em solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  backdrop-filter: blur(0.25rem);
  overflow: hidden;
}

.output,
input,
input {
  width: 100%;
  letter-spacing: 1px;
  font: bold 1rem monospace;
  background-color: antiquewhite;
  border: 2px inset aliceblue;
  color: black;
  padding: 10px;
  transition: 0.2s;
  overflow-x: scroll;
  white-space: nowrap;
}
.output::-webkit-scrollbar {
  display: none;
}
input:not(:focus){
  outline: none !important;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
main h2 {
  font-size: 2.125rem;
  text-align: center;
  font-family: sans-serif;
  color: white;
}
.buttons * {
  text-align: center;
  border: none;
  height: 2rem;
  width: 20%;
  flex-grow: 1;
  padding: 5px 10px;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  transition: 0.2s;
  cursor: pointer;
}
button:disabled {
  color: #911;
  cursor: not-allowed;
}
.buttons button:active:not(:disabled) {
  translate: 1px 1px;
}
.buttons button:hover:not(:disabled) {
  filter: invert();
}
label {
  scale: 0;
  height: 0;
  width: 0;
  position: absolute;
}
.error {
  color: red;
  border-color: #911;
  outline-color: #911;
}
section:focus-within [bg] {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url(image.jpg) center/cover no-repeat;
  filter: blur(12px);
}
