@font-face {
  font-family: MTNBrighterSans-Regular;
  src: url(Fonts_Package/MTNBrighterSans-Regular/MTNBrighterSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
select,
button {
  font-family: inherit;
  max-width: 100%;
}
body {
  font: 300 16px/1.5 "MTNBrighterSans-Regular", cursive;
}
.visuallyHidden {
  position: absolute;
  scale: 0;
}
abbr {
  text-decoration: none;
}
.bold,
a:any-link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration-skip-ink: none;
  text-decoration: underline 2px blue;
  text-shadow: none;
}
a::before {
  content: "\11";
  color: blue;
  margin-right: 2px;
  font-style: normal;
}
main {
  width: 80vw;
  max-width: 800px;
  margin: auto;
}
main,
FOOTER {
  padding: rem;
}
h2 {
  margin: 1rem 0;
}
h3 {
  margin: 0.75rem 0 0;
}
p {
  padding: 0.5rem 0;
}
table thead th {
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  background-color: grey;
  color: white;
  border-inline: 2px solid white;
  border-bottom: 2px solid;
}
td[rowspan],
th[rowspan] {
  border-right: none;
}
th[colspan],
thead tr:last-child th:first-child {
  border-left: none;
}
table tbody td {
  border: 2px solid white;
  border-left: none;
  padding: 0.25rem 0.5rem;
  border-bottom: none;
}
tbody tr {
  background-color: lightgrey;
}
tbody tr:last-child td {
  border-bottom: 2.01px solid black;
}
table tbody tr:nth-child(odd) {
  background-color: white;
}
[free] {
  display: block;
  background-color: gray;
  border-radius: 50%;
  display: grid;
  width: fit-content;
  padding: 1rem 2rem;
  place-content: center;
  margin: auto;
}
table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
tr:last-child {
  border-bottom: 2px solid black;
}
tbody tr td:has(del) {
  background-color: lightgrey;
  text-align: center;
}
ul li {
  margin-left: 1rem;
}
ul li:has(input) {
  list-style: none;
  margin-left: 0;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;

  font-size: 1.125rem;
}
ul li:has(input) input {
  flex-grow: 1;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  padding: 0.25rem;
}
ul:has(a[href^="tel:"]) li {
  list-style: none;
  margin-left: 0;
}
@page {
  font-size: 8pt;
  border: 1em solid grey;
  margin: 0in 0.5in;
  size: 15in;
}
footer {
  text-shadow: 1px 1px 2px blue;
  color: white;
  text-align: center;
  display: grid;
  gap: 0rem;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  background-color: rgb(177, 177, 0);
  padding: .5rem clamp(1rem,15vw,  15rem);
  min-width: 320px;
}
footer > *:first-child:first-of-type {
  grid-column: 1/-1;
  font-size: 1.75rem;
  border-bottom: 2px solid yellow;
}
footer > * {
  padding: 0.25rem 1rem;
  margin-top: .25rem;
  vertical-align: middle;
  line-height: 1.8;
}
[attribution] {
  background: repeating-conic-gradient(blue, yellow, blue 2.5%) 0/2rem 2rem;
}
th,
td {
  word-break: break-all;
}
