* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  --toMain:skyblue;
  --main:red;
  --cam:white;
  animation: colored infinite ease  5s forwards ;
  min-height: 100vh;
  background-color: var(--toMain);
  display: grid;
  place-content: center;
  transition: .1s;
}
main {
  display: grid;
  padding: 1.5rem;
  width: 100vw;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
}
section {
  min-width: 320px;
  width: 45%;
  aspect-ratio: 4/3;
  border-radius: .2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: repeating-conic-gradient( royalblue,#aaa0, navy 15deg) center/15% 15%;
}
.text {
  color: white;
  padding: 10px;
  padding-top: 15%;
  font-size: 9vmin;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #111;
}
#file {
  display: none;
}
label {
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  inset: 85% auto;
  translate: -50% -50%;
  width: 45%;
  height: 2.5rem;
  transition: 0.5s ease;
}
label:hover {
  box-shadow: 2px 4px 5px #000a;
}
.img img {
  inset: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  background-color: #aaa;
  z-index: 1;
  object-fit: contain;
}
.img img.active {
  display: block;
}
.icon .close {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ffe;
  cursor: pointer;
  display: none;
  z-index: 2;
}
.icon .close:hover {
  color: red;
}
.icon .close.exit {
  display: block;
}

section[b]{
  position: relative;
  background: var(--main);
  transition: .2s;
}
@keyframes colored {
  from{
    --main:purple;
  }
  to{
    --main:white ;
    --cam:skyblue
  }
  85%{
    --main:purple;
    --cam:white;
  }
}
section .camera{
  position: absolute;
  inset: 0;
  width: 27.5%;
  aspect-ratio: 1.45;
  border-radius: .25rem;
  margin: auto;
  background:
  linear-gradient(var(--main) 0 0) 92.5% 10% no-repeat,
    radial-gradient(circle 1rem at 49.125% center, var(--main) 74%, var(--cam) 76% 99%, var(--main)  101% 130%, var(--cam) 132%)
  ;
  background-size: 15% 15%,100%;
}
.camera::before{
  content: '';
  position: absolute;
  background-color: var(--cam);
  inset: -7% 70% 95% 10%;
  clip-path: polygon(20%0,80%0,100%100%,0%100%,20%0);
}