* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(to bottom, black, midnightblue);
  overflow: hidden;
}
canvas {
  border: 5px solid skyblue;
  background-color: black;
  background: url(fractalImages/fractal6.png) center / cover ;
}
button{
  justify-self: center;
  margin: .5rem;
  padding: 0.5rem 1.5rem;
  font-size: .75rem;
  outline: .2rem solid;
  outline-offset: -.2rem;
  border: none;
  background-color: #fff;
  color: black;
  border-radius: .3rem;
  position: absolute;
  z-index: 2;
  bottom: 1rem;
  left: 50%;
  cursor: pointer;
  translate: -50%;
}
button:hover{
  filter: invert() drop-shadow(-.1rem -.1rem .25rem white);
}
button:active{
  filter: invert();
}