* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  min-height: 100vh;
  place-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, black, midnightblue);
}
canvas {
  border: 0px solid skyblue;
  background-color: black;
}
button{
  justify-self: center;
  margin: .5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  outline: .2rem solid;
  outline-offset: -.2rem;
  border: none;
  background-color: #fff2;
  color: white;
  border-radius: .3rem;

}
button:hover{
  filter: invert() drop-shadow(-.1rem -.1rem .25rem white);
}
button:active{
  filter: invert();
}