* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --dM: rgb(40, 20, 40);
  --wM: rgb(250, 240, 250);
  background: var(--wM);
  transition: .2s;
  line-height: 1.15;
}

.dark {
  background: var(--dM);
  --wM: rgb(250, 240, 255);
  --dM: rgb(40, 40, 50);
}

h2 {
  background-color: var(--dM);
  color: var(--wM);
  text-align: center;
  font-size: 2rem;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
}

article {
  background: rgb(60, 60, 60);
  border-radius: .5rem;
  font-size: 1rem;
  position: fixed;
  inset: 0;
  margin: auto;
  width: 95vw;
  max-width: 856px;
  color: var(--wM);
  text-align: center;
  height: fit-content;
  animation: moveDown 1s 1s linear 1 forwards;
  scale: 0;
}

article:after {
  content: '';
  border-right: 3px solid orange;
  border-bottom: 3px solid orange;
  inset: auto -5px -5px auto;
  width: calc(100% - .5rem);
  height: calc(100% - .5rem);
  position: absolute;
  border-radius: 0 .2rem .5rem .2rem;
}

.dark article::after {
  border-color: var(--wM);
}

article p {
  font-family: helvetica, Sans-Serif;
  padding: .5rem;
}

article h2 {
  border-radius: .5rem .5rem 0 0;
  background: orange;
  font-size: 1.25rem;
  padding: .25rem 1rem;
  font-family: 'Times New Roman', serif;
}

@keyFrames moveDown {
  to {
    scale: 1;
    bottom: -75vh;
    opacity: .85;
    margin-left: auto;
    margin-right: 1rem;
    width: 25rem;
  }
}

[id='darker'] {
  cursor: pointer;
  position: fixed;
  width: 2.5rem;
  aspect-ratio: 1/1;
  background: var(--dM);
  border-radius: 50%;
  display: grid;
  place-items: center;
  inset: .5rem .5rem auto auto;
  transition: .2s;
  color: green;
  border: .2rem solid;
}

.dark [id='darker'],
.dark h2 {
  background: var(--wM);
  color: var(--dM);
  border-color: currentColor;
}

[inner] {
  display: block;
  border-radius: 50%;
  width: 70%;
  aspect-ratio: 1/1;
  background: linear-gradient(var(--wM) 50%, var(--dM) 50%);
}

.dark [inner] {
  background: linear-gradient(var(--dM) 50%, var(--wM) 50%);
}

[type=file] {
  position: fixed;
  inset: 0;
  scale: 0;
  display: block;
  aspect-ratio: 0;
}

figure {
  width: 95%;
  max-width: 550px;
  color: var(--dM);
  background-color: orange;
  display: grid;
  justify-items: center;
  gap: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  text-align: center;
  position: absolute;
  height: fit-content;
  inset: 0;
  margin: auto;
}
.dark figure{
  background-color: rgb(145, 94, 0);
  color: var(--wM);
}

figure>* {
  place-content: center;
  width: 100%;
  min-width: 0;
  display: grid;
  word-break: break-all;
}

figure>p:has(label) {
  width: 5rem;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 55%;
}

figure p label {
  display: inline-grid;
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 55%;
  background: radial-gradient(red, orange, green, blue, teal, violet, var(--wM));
  cursor: pointer;
  background:
    linear-gradient(var(--dM) 0 0) no-repeat center / 10% 10%,
    linear-gradient(var(--wM) 0 0) no-repeat center / 15% 15%,
    radial-gradient(
      rgb(0 0 0/.25) 0 32.5%,
      red 35% 42.5%,
      rgb(0 0 0/.25) 45%),
    conic-gradient(var(--wM), red, orange, green, blue, teal, violet, var(--wM));
  animation: none;
}

.dark figure label {
  --wM: black;
  --dM: white;
}

[error]:not(:empty) {
  background-color: var(--wM);
  color: red;
  border-radius: .5rem;
  padding: .25rem;
  display: inline-block;
  font-weight: bold;
}

video {
  min-width: 10%;
  max-height: 45vh;
  max-width: 100%;
}

audio,
video {
  min-width: inherit;
}

audio {
  max-height: 4rem;
  padding: 1rem;
  background-color: #f3f3f3;
  border-radius: 2rem;
}

h2 *:hover {
  animation: rotate .2s 5 linear backwards alternate;
}

@keyframes rotate {
  to {
    rotate: 15deg;
  }

  from {
    rotate: -15deg;
  }
}

h2 * {
  transform-origin: top;
  transition: .2s;
  display: inline-block;
  scale: calc(sibling-index * 1);
  background-color: transparent;
  margin: 0.1rem;
  aspect-ratio: 1/1;
  color: inherit;
  height: 2rem;
  line-height: 1;
  border: .1rem currentColor solid;
}