@import url("https://fonts.cdnfonts.com/css/andale-mono");
@import url("https://fonts.cdnfonts.com/css/author-2");
@import url("https://fonts.cdnfonts.com/css/univers-next-pro");
@import url("https://fonts.cdnfonts.com/css/geneva01");
@import url("https://fonts.cdnfonts.com/css/klingon-blade");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font: 150%/1.5 sans-serif;
  width: 100%;
  background-color: teal;
  flex-flow: column;
}
h1 {
  font-size: 5rem;
  margin: 20px auto;
  text-align: center;
  color: orange;
  font-weight: 600;
}
.card {
  background-color: rgb(180, 180, 180);
  color: rgb(10, 10, 17);
  padding: 10px 20px;
  max-width: 800px;
  margin: 20px;
  border-radius: 10px;
}
.font {
  font-size: 2.5rem;
  margin: 10px 0 15px;
}
.sans-serif {
  font-family: helvetica;
}
.serif {
  font-family: georgia;
}
.monospace {
  font-family: "Courier New";
}
.cursive {
  font-family: "cursive";
}
.fantasy {
  font-family: fantasy;
}

::-webkit-scrollbar {
  background-color: rgb(180, 180, 180);
  width: 10px;
  border-radius: 55%/5px;
}
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 55%/ 5px;
  border-left: 2px solid #fff;
}
footer {
  width: 100%;
  background-color: orange;
  color: white;
  padding: 30px 50px;
  text-align: center;
  font-size: 14px;
}

header {
  display: grid;
  gap: 0.5rem;
}
nav[class*="nav"]:nth-child(even) {
  background-color: royalblue;
}
nav[class*="nav"] {
  display: flex;
  background-color: orange;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.95rem;
  text-align: center;
}
nav[class*="nav"] a {
  position: relative;
  padding: 5px 0.5rem;
  border: none;
  min-width: 70px;
  margin-block: 0.25rem;
}
nav[class*="nav"] a:any-link {
  text-decoration: none;
  color: white;
}

nav a::before,
nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  inset: 0;
  transition: 0.2s;
}
/* Navigation one */
.nav1 a::before,
.nav1 a::after {
  height: 2px;
}
.nav1 a::after {
  inset: auto 0 0 auto;
}
.nav1 a:hover::after,
.nav1 a:hover::before {
  width: 100%;
}

/* Navigation 2 */
.nav2 a::before,
.nav2 a::after {
  background: #fff0;
  opacity: 0;
  width: 8px;
  height: 8px;
  border-left: 2px solid;
  border-top: 2px solid;
  inset: 05px;
}
.nav2 a::after {
  inset: auto 5px 5px auto;
  transform: rotate(180deg);
}
.nav2 a:hover::before {
  opacity: 1;
  inset: 0px;
}
.nav2 a:hover::after {
  opacity: 1;
  inset: auto 0 0 auto;
}

/* navigation 3 */
.nav3 a{
    z-index: 1;
}

.nav3 a::before {
  transform: translateY(-2px);
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  scale: 1 2;
  background-color: #fff0;
  border-block: 2px solid skyblue;
}
.nav3 a::after {
  width: 100%;
  height: 100%;
  opacity: 0;
  scale: 0 0;
  background: skyblue;
  z-index: -1;
}
.nav3 a:hover::before {
  scale: 1 1.1;
  opacity: 1;
}
.nav3 a:hover::after {
  scale: 1 1;
  opacity: 1;
}
