@import url("https://fonts.cdnfonts.com/css/andale-mono");
@import url("https://fonts.cdnfonts.com/css/author-2");
@import url("https://fonts.cdnfonts.com/css/univers-next-pro");
@import url("https://fonts.cdnfonts.com/css/geneva01");
@import url("https://fonts.cdnfonts.com/css/klingon-blade");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 150%/1.5 sans-serif;
  width: 100%;
  background-color: teal;
  flex-flow: column;
}
h1 {
  font-size: 5rem;
  margin: 20px auto;
  text-align: center;
  color: orange;
  font-weight: 600;
}
.card {
  background-color: rgb(180, 180, 180);
  color: rgb(10, 10, 17);
  padding: 10px 20px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
}
.font {
  font-size: 2.5rem;
  margin: 10px 0 15px;
}
.sans-serif {
  font-family: helvetica;
}
.serif {
  font-family: georgia;
}
.monospace {
  font-family: "Courier New";
}
.cursive {
  font-family: "cursive";
}
.fantasy {
  font-family: fantasy;
}

::-webkit-scrollbar {
  background-color: rgb(180, 180, 180);
  width: 10px;
  border-radius: 55%/5px;
}
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 55%/ 5px;
  border-left: 2px solid #fff;
}
footer {
  width: 100%;
  background-color: orange;
  color: white;
  padding: 30px 50px;
  text-align: center;
  font-size: 14px;
}
