body {
    background-color: olivedrab;
    color: white;
    font: 120% sans-serif;
}

h1,
h3,
h4,
h2 {
    border-bottom: dotted .05em rgba(0, 0, 3, .4);
    margin: 10px ;
}
p#ID4{
    box-shadow: .1ex .1ex 1ex yellow;
}