*{
  margin: 0;
  padding: 0;
}
h3{
  text-transform: uppercase;
  counter-increment: count countIn;
  counter-reset: countIn -1;

}
h3:before{
  content: counter(count) '. ';
}
h3~*:not(h3,h4){
  margin-left: 4rem
}
h4{
  counter-increment:  countIn;
  text-transform: capitalize;
  margin-left: 2rem;

}
h4:before{
  content: counter(count) '.' counter(countIn) ' ';
}

.colormix{
  width: 15rem;
  position: relative;
  aspect-ratio: 1;
  border: thick solid;
  background-color:  white;
  background-image: repeating-linear-gradient(90deg,
        #1230 0 49.75%, 
        skyblue 50.25%
      ),
  repeating-linear-gradient(210deg,
        #1230 0 49.75%, 
        skyblue 50.25%
      ),
  repeating-linear-gradient(330deg,
        #1230 0 49.75%, 
        skyblue 50.25%
        )
        ;
  }
.colormix div{
  contain: style;
  mix-blend-mode:multiply;
  position: absolute;
  width: 7rem;
  aspect-ratio: 1;
  background: var(--c);
  inset: 0;
  margin: auto;
  border-radius: 55rem;
  translate: 0 -30%;
  transform-origin: center 80%;
  rotate: calc(var(--r)*120*1deg);
  animation: rotate 15s infinite linear;
}
@keyframes rotate {
  to{transform:rotate(1turn)}
}