*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-color: darkslateblue;
  cursor: crosshair;
  font-size: 100%;
  font-family: sans-serif;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}
.cursor {
  top: 0%;
  width: 2em;
  height: 2em;
  background-color: transparent;
  position: absolute;
  rotate: -135deg;
  clip-path: polygon( 25% 0, 100% 50%,25% 100%,0 75%,10% 50%,0 25%);
  box-shadow: inset 0 0 5px 10px blue;
  border-radius: 56px;
}
.cursor:active{
  scale: .9;
}
.output{
  width: 500px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 5px;
  line-height: 2;
  background-color: rgba(0, 255, 255, 0.644);
  color: saddlebrown;
  font-size: .8rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 3px;
}
.output >*{
  border: 1px solid;
  padding-inline: 10px;
}
.output output{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.output p{
  width: 100%;
  grid-column: span 2;
  font-size: 1rem;
  margin-top: 1rem;
  background-color: cyan;
  margin-bottom: -.65rem;
  border: none;
  position: relative;
}
.output p::before{ 
  content: '';
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 4rem;
  height: 4rem;
  background-color: tan;
  border-radius: 2rem;
  clip-path: polygon(25%25%, 55% 55%, 35% 55%, 35% 75%, 65% 75%, 75% 55%,37% 15%,25%25%);
}
.output :last-child{
  text-align: right;
}