body{
  min-height: 100vh;
  background-color: skyblue;
}
body p{
  position: absolute;
  inset: 0;
  margin: auto;
  font-size: 2rem;
  padding: 2rem 1em;
  text-align: center;
  background-color: teal;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: .5rem;
  box-shadow: 2px 2px 9px 1px #2119;
  line-height: 1.5;
  min-width: 420px;
  max-width: 700px;
  width: 75vw;
  height: fit-content;
}
p:hover .tooltip{
  visibility: visible;
  opacity: 1;
}
.tooltip{
  transition:  .5s;
  border-radius: 2rem;
  background-color: white;
  color: black;
  padding: 10px 20px;
  position: absolute;
  top: -75;
  font-size: 1rem;
  right: 30%;
  font-family: sans-serif;
  rotate: -8deg;
  box-shadow: 1svb 1svb 2svb ;
  opacity: 0;
  visibility: hidden;
}
.tooltip::after,.tooltip::before{
  box-shadow: 1svb 1svb 2svb ;
  content: "";
  position: absolute;
  width: 25;
  aspect-ratio: 1;
  background: white;
  right: 1rem;
  bottom: -1.45rem;
  border-radius: 1cm;
}
.tooltip::after{
  right: 2rem;
  bottom: -2rem;
  width: 15;
}