*{
  box-sizing: border-box;
  line-height: 1.5;
  border-radius: .5rem;
  font-family: sans-serif;
}
section,li{
  backdrop-filter: invert(.25);
  padding: .25rem 1rem;
  color: white;
  margin-block-end: .5rem;
}
body{
  background-color: skyblue;
}
main{
  width: clamp(320px,85vw, 700px);
  margin: auto;
}
.example{
  font-style: italic;
}