body {
  background-color: #77bfa1;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Sans-Serif;
}
h1{
  font-size: 2.5rem;
  padding: .2rem 2rem;
  margin: auto;
  margin-top: 50px;
  border-bottom: .1rem solid;
  width: 80%;
}

#btn{
  margin-top: 10vh;
  border: none;
  background-color: transparent;
  color: white;
  border: 2px solid white ;
  padding: 10px 50px;
  outline: none;
  font-size: 24px;
  cursor: pointer;
}
#btn:active{
  translate: .1rem .1rem;
  background-color: white;
  color: black;
}
#content{
  margin: auto;
  padding: 4vh;
  font-size: 2.5rem;
  max-width: 700px;
  margin-top: 20px;
  font-family: 'Monotype Corsiva','Comic Sans MS',serif;
  font-weight: 200;
  line-height: 1.5;
  font-style: italic; 
}

.fillingAnim {
  width: 75vw;
  border-radius: 12vh /12vh;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.strip {
  width: 90%;
  height: 5%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.filler {
  width: 0%;
  height: 100%;
  margin: 0;
  background: #fff;
  animation: fill .5s infinite linear;
  border-radius: 10px;
}
@keyframes fill {
  100% {
    width: 103%;
  }
}
.rangeContainer{
  position: relative;
  margin: 2rem auto;
  width: fit-content;
}
.rangeContainer #range{
 outline: none;
 appearance: none; 
 accent-color: teal;
 height: .25rem;
 border-radius: 1rem;
 width: 50vw;
 display: inline-block;
 margin: 1.5rem auto;
}
.rangeContent{
  position: absolute;
  left: 5%;
  line-height: 1;
  width: 1rem;
  border: 2px solid;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  top: -45.25%;
  transform: translateX(-050%);
  background-color:skyblue;
  color: white;
  padding: .75rem;
  display: grid;
  place-content: center;
  border-radius: 51%;
  ascent-override: 1/1;
  transition: opacity .5s ease;
}
input[type='range']::-webkit-slider-thumb{
  transition: .1s;
  scale: .5;
  cursor: pointer;
  outline: 1svb solid white;
  border-radius: 1rem;
}